::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.5;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

:-ms-input-placeholder {
    color: white !important;
}

#querybuilder {
    background: white;
}

.btn.btn-flat.glyphicon.glyphicon-search {
    line-height: 14px;
}

.btn.btn-success.btn-fab-mini.fa.fa-eye {
    line-height: 14px;
}

select.form-control {
    background: lightgrey;
    height: 35px;
}

input.form-control {
    height: 35px;
}

.list-group .list-group-item {
    padding: 0 0px;
}

#results.h3 {
    color: white;
}

.navbar {
    margin-bottom: 0px;
}

.show-query {
    background: #E0F2F1;
}

.show-results {
    background: #E0F2F1;
}

#wrapper {
    background: #E0F2F1;
}

#results {
    background: #E0F2F1;
}

#sidebar-wrapper {
    background: #B2DFDB;
}

.form-control.ng-valid {
    background-color: #E0F2F1;
}

.form-control.ng-valid {
    background-color: #E0F2F1;
}

.form-control {
    font-size: 20px;
}

.form-control:focus, .form-control.focus {
    outline: none;
    background-image: linear-gradient(#4DB6AC, #4DB6AC), linear-gradient(#80CBC4, #80CBC4);
    -webkit-animation: input-highlight 0.5s forwards;
    animation: input-highlight 0.5s forwards;
    box-shadow: none;
    background-size: 0 2px, 100% 1px;
}

input.form-control#main-search {
    background: #26A69A;
    height: 35px !important;
}


input.form-control.empty#main-search {
    background: #009688;
    height: 35px !important;
}

.btn {
    font-weight: bold;
}

.btn-info:not(.btn-link):not(.btn-flat) {
    background-color: #FFA000 !important;
    background-color: #009688 !important;
    color: rgba(255, 255, 255, 0.84);
}

.btn-info:active:not(.btn-link):not(.btn-flat) {
    background-color: #FFD54F !important;
    background-color: #B2DFDB !important;
}


.container-fluid {
    padding: 0px;
}

pre {
    background-color: inherit;
    border: none;
    border-radius: 0px;
}

pre.pretty-json {
    margin: 0px;
    border-radius: 0px;
}

pre#prettyjson {
    background-color: #E0F2F1;
    border-bottom: 3px solid #B2DFDB;
}

/*  source : http://isabelcastillo.com/error-info-messages-css */

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.navbar .navbar-brand {
    margin-top: 0px;
    line-height: 40px;
}

.navbar .navbar-brand span {
   font-size: 24px;
}

.navbar .navbar-form {
    margin-top: 8px;
}


.btn-success:not(.btn-link):not(.btn-flat) {
    background-color:  #009688 !important;
    color: rgba(255, 255, 255, 0.84);
}

.btn-success:active:not(.btn-link):not(.btn-flat) {
    background-color: #B2DFDB !important;
}

.btn-success.glyphicon.glyphicon-search.active {
    color : black !important;
    background-color: #B2DFDB !important; /* #AFB42B */
    opacity: 1;
}

#bt-results {
    background-color: #AFB42B !important;
}