/*
#querybuilder {
    background: lightgrey;
}

.btn.btn-flat.glyphicon.glyphicon-search {
    line-height: 14px;
}

.btn.btn-success.btn-fab-mini.fa.fa-eye {
    line-height: 14px;
}

select.form-control {
    background: lightgrey;
    height: 35px;
}

input.form-control {
    height: 35px;
}

.list-group .list-group-item {
    padding: 0 0px;
}

#results.h3 {
    color: white;
}

.navbar {
    margin-bottom: 0px;
}

.show-query {
    background: #E0F2F1;
    background: white;
}

.show-results {
    background: #E0F2F1;
    background: white;
}

#wrapper {
    background: #E0F2F1;
    background: white;
}

#results {
    background: #E0F2F1;
    background: white;
}

#sidebar-wrapper {
    background: #B2DFDB;
    background: white;
}

.form-control.ng-valid {
    background-color: #E0F2F1;
    background: white;
}

.form-control.ng-valid {
    background-color: #E0F2F1;
    background: white;
}

.form-control {
    font-size: 20px;
}

.form-control:focus, .form-control.focus {
    outline: none;
    background-image: linear-gradient(#4DB6AC, #4DB6AC), linear-gradient(#80CBC4, #80CBC4);
    background: white;
    -webkit-animation: input-highlight 0.5s forwards;
    animation: input-highlight 0.5s forwards;
    box-shadow: none;
    background-size: 0 2px, 100% 1px;
}

input.form-control#main-search {
    background: #26A69A;
    background: white;
    height: 35px !important;
}


input.form-control.empty#main-search {
    background: #009688;
    background: white;
    height: 35px !important;
}

.btn {
    font-weight: bold;
}


.container-fluid {
    padding: 0px;
}

pre {
    background-color: inherit;
    border: none;
    border-radius: 0px;
}

pre.pretty-json {
    margin: 0px;
    border-radius: 0px;
}

pre#prettyjson {
    background-color: #E0F2F1;
    border-bottom: 3px solid #B2DFDB;
}*/

/*  source : http://isabelcastillo.com/error-info-messages-css */

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

