<uib-tabset type="pills">
    <uib-tab heading="Builder" active="activeJustified" justified="true">
        <div data-elastic-builder="queryB.elasticBuilderData"></div>
    </uib-tab>
    <uib-tab heading="Query" active="activeJustified" justified="true" ng-click="queryB.showFilteredQuery();setBg='show-query';" ui-sref="querybuilder.show-query">
        <div class="container-fluid" ui-view="builderOutcome"></div>
    </uib-tab>
    <uib-tab heading="Run" active="activeJustified" justified="true" ng-click="queryB.runFilteredQuery();setBg='show-results';" ui-sref="querybuilder.run-query">
        <div class="container-fluid" ui-view="builderOutcome"></div>
    </uib-tab>
</uib-tabset>
